<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light shadow-lg mb-3"
  >
    <div class="container">
      <a class="navbar-brand text-white" [routerLink]="['/']">BenchmarkNow</a>
      <button
        class="navbar-toggler"
        style="background-color: transparent; color: transparent;  border-color: lightgreen;"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="lightgreen" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link" style="color:white" [routerLink]="['/']" [routerLinkActive]="['text-muted','disabled']" [routerLinkActiveOptions]="{ exact: true }">
              <div class="menu-item">Benchmark</div>
            </a>
          </li>
          <li class="nav-item">
          <a class="nav-link" style="color:white" [routerLink]="['/results']" [routerLinkActive]="['text-muted','disabled']" [routerLinkActiveOptions]="{ exact: true }">
            <div class="menu-item">Results</div>
          </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" style="color:white" [routerLink]="['/settings']" [routerLinkActive]="['text-muted','disabled']" [routerLinkActiveOptions]="{ exact: true }">
          <div class="menu-item">Settings</div>
        </a>
      </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
