<form [formGroup]="form">
  <div class="form-group">
    <label for="inputIterations" class="text-white">Number of iterations</label>
    <input type="number" class="form-control" formControlName="iterations" id="inputIterations" placeholder="Enter number of iterations">
  </div>
  <div class="form-group">
    <label for="inputIterations" class="text-white">Binary Trees</label>
    <input type="number" class="form-control" formControlName="binaryTrees" id="inputIterations" placeholder="Enter parameter">
  </div>
  <div class="form-group">
    <label for="inputIterations" class="text-white">NBody</label>
    <input type="number" class="form-control" formControlName="nBody" id="inputIterations" placeholder="Enter parameter">
  </div>
  <div class="form-group">
    <label for="inputIterations" class="text-white">Spectral Norm</label>
    <input type="number" class="form-control" formControlName="spectralNorm" id="inputIterations" placeholder="Enter parameter">
  </div>
  <div class="form-group">
    <label for="inputIterations" class="text-white">Fasta</label>
    <input type="number" class="form-control" formControlName="fasta" id="inputIterations" placeholder="Enter parameter">
  </div>
</form>
